* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 0.938rem;
  background-color: hsl(207, 4%, 99%);
  color: hsl(207, 4%, 28%);
  transition: background 0.4s; /* for dark mode animation */
}

h1,
h2,
h3 {
  color: hsl(207, 4%, 16%);
  font-family: 'Lora', serif;
  font-weight: 500;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
